{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 90,
  "endOfLine": "auto",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.njk",
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
