---
title: Star Wars Characters
---

<!DOCTYPE html>
<html lang="en" class="bg-white text-black">

  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/styles/index.css">
  </head>

  <body>
    <div class="container mx-auto flex flex-col justify-center items-center">
      <h1 class="text-3xl font-bold mt-12 mb-6">Star Wars Characters</h1>
      <ul>
        <li class="text-lg">Luke Skywalker</li>
        <li class="text-lg">C-3PO</li>
        <li class="text-lg">R2-D2</li>
        <li class="text-lg">Darth Vader</li>
        <li class="text-lg">Leia Organa</li>
        <li class="text-lg">Owen Lars</li>
        <li class="text-lg">Beru Whitesun lars</li>
        <li class="text-lg">R5-D4</li>
        <li class="text-lg">Biggs Darklighter</li>
        <li class="text-lg">Obi-Wan Kenobi</li>
      </ul>
    </div>
  </body>

</html>
